body {
	margin: 0;
	padding: 0;
}

div{
	height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
	background-image: url(../img/zodiac-background.webp);
	background-size: 130%;
	background-position: ;
}

table, td, tr {
	border: 1px solid rgb(0, 0, 0);
font-size: 1.5rem;
text-align: center;
}

thead{
	font-size: 2rem;
	font-weight: 700;
	padding-top: 1rem;
	color: rgb(255, 165, 202);

}

table {
	margin: 1rem auto;
	width: 95%;
	border-collapse: collapse;
background-color: rgba(178, 162, 201, 0.413);
color: rgb(255, 201, 224);
}

.top, .top td{
	padding: 1rem;
border: 2px solid black;
font-weight: 600;
color: rgb(255, 165, 202);
}

td{
	padding: 0.5rem;
}